<!doctype html>
<html>
   <body>
    <h2>What is Scan2Shop?</h2>
    <div>Scan2shop is a simple mobile application that lets you shop in the supermarket and pay on your own without the service of the cashier</div>
    <h2>How do i scan items?</h2>
    <div>Simply press scan item button,Point your camera at a barcode,
        Make sure the entire square code is inside the box on your screen.Hold the device steady while the barcode scans. When the scan is successful, Quantity dialog box wiil appear,enter quantity then press ok button. The app will fetch product details from server and display it in a list.</div>
    <h2>How do i pay?</h2>
    <div>After adding items to cart list,press checkout button,confirm payment details then wait for stk push. When stk push appears enter mpesa pin to finalize payment.</div>
    <h2>How is items bought confirmed?</h2>
     <div>At the end payment, receipt will be displayed in the receipt tab. Show the receipt at exit point for cross checking.</div>
  </body>
</html>